@import url('normalize.css');
@import url('base.css');
@import url('typography.css');
@import url('layout.css');
a {
  padding: 1em 2em;
}

/* .link li a:focus  {
  background: lightgreen;
} */

li {
  padding: 1em;
}

form div {
  margin-bottom: 2em;
}

form, div, input {
  width: 100%;
}